@model ProjetoSmartParking.Models.Estacionamento

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoHora)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.EstacionamentoId }) |
    @Html.ActionLink("Voltar para o início", "Index")
</p>
