@model ProjetoSmartParking.Models.Estacionamento

@{
    ViewBag.Title = "Remover";
}

<h2>Remover</h2>

<h3>Você tem certeza disso?</h3><br />
<h3>Eu não faria!</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoHora)
        </dd>

    
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar para o início", "Index")
        </div>
    }
</div>
