@model IEnumerable<ProjetoSmartParking.Models.Setor>

@{
    ViewBag.Title = "Index";
}

<h2>Smart Parking</h2>

<p>
    @Html.ActionLink("Cadastrar setor", "Cadastrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Piso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ala)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Piso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ala)
        </td>
       
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.SetorId }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.SetorId }) |
            @Html.ActionLink("Remover", "Remover", new { id=item.SetorId })
        </td>
    </tr>
}

</table>
